<section class="vh-200" style="background-color: #ff3860;">
    <div class="container py-5 h-100 w-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <p class="mb-2 text-center">
                            <span class="h2 me-2">
                                <i class="lni lni-check-box" style="size:70px"></i>
                                PDF Maker
                            </span>
                        </p>
                        <hr>

                        <div class="row">
                            <div class="card w-50">
                                <div class="card-body">
                                    <h5 class="card-title">Customer Detail</h5>
                                    <hr>
                                    <div class="row">
                                        <form [formGroup]="userDetails">
                                            <div class="col-md-12">
                                                <label>Name</label>
                                                <input type="text" class="form-control" formControlName="name">
                                                <div>
                                                    <small *ngIf="userDetails.controls?.['name']?.errors" class="text-danger">Name is a required field.</small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label>Address</label>
                                                <textarea type="text" class="form-control" rows="3" formControlName="address"></textarea>
                                                <div>
                                                    <small *ngIf="userDetails.controls?.['address']?.errors" class="text-danger">address is a required field.</small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label>Email</label>
                                                <input type="text" class="form-control" formControlName="email">
                                                <div>
                                                    <small *ngIf="userDetails.controls?.['email']?.errors" class="text-danger">email is a required field.</small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label>Phone</label>
                                                <input type="text" class="form-control" formControlName="phone">
                                                <div>
                                                    <small *ngIf="userDetails.controls?.['phone']?.errors" class="text-danger">phone is a required field.</small>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card w-50">
                                <div class="card-body">
                                    <h5 class="card-title">Actions</h5>
                                    <hr>
                                    <div class="d-flex align-items-center">
                                        <button class="btn btn-primary" (click)="userDetails.valid ? generatePDF('Generate'): ''">Generate Pdf</button>
                                    </div>
                                    <br>
                                    <div class="d-flex align-items-center">
                                        <button class="btn btn-dark" (click)="userDetails.valid ? generatePDF('Download') : ''">Download Pdf</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="card w-100">
                                <div class="card-body">
                                    <h5 class="card-title">Order Details

                                        <button type="button"
                                            class="btn btn-secondary" (click)="addProduct()">+</button>
                                    </h5>
                                    
                                    <hr>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="25%">Product</th>
                                                <th width="25%">Price</th>
                                                <th width="25%">Quantity</th>
                                                <th width="25%">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>   
                                            <tr *ngFor="let p of products; let i=index">
                                                <td scope="row">
                                                    <input type="text" class="form-control" name="productName{{i}}"
                                                        id="productName" [(ngModel)]="p.name" #ProductName="ngModel"
                                                        required>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" name="price{{i}}" id="price"
                                                        [(ngModel)]="p.price" #ProductPrice="ngModel" required>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" name="quantity{{i}}" id="quantity"
                                                        [(ngModel)]="p.qty" #ProductQty="ngModel" required>
                                                </td>
                                                <td>
                                                    {{p.price * p.qty || ''}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>





                        <div class="divider d-flex align-items-center my-4"></div>
                        <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Designed and developed by Ismael Chavez
                            © 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>